# This file is sourced by pkg
# Mirror by bouwhuis.network, hosted in Amsterdam, Netherlands.
WEIGHT=1
MAIN="https://mirror.bouwhuis.network/neoterm/neoterm-main"
ROOT="https://mirror.bouwhuis.network/neoterm/neoterm-root"
X11="https://mirror.bouwhuis.network/neoterm/neoterm-x11"
